<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if user_has_no?(@user.posts) %>
  <p> <%= @user.name %> has not submitted any posts yet. </p>
<% else %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% end %>

<% if user_has_no?(@user.comments) %>
  <p> <%= @user.name %> has not submitted any comments yet. </p>
<% else %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>

<% if user_has_no?(@user.favorites) %>
  <p> <%= @user.name %> has not favorited any posts yet. </p>
<% else %>
  <h2>Favorites</h2>
  <% @user.user_favorites.each do |favorite_post| %>
    <%= render partial: 'users/favorite', locals: {post: favorite_post} %>
  <% end %>
<% end %>
